@tailwind base;
@tailwind components;
@tailwind utilities;



/* في ملف CSS */

/*  */

/* global  */



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.price-p {
  font-weight: bold;
  color: indigo;
 } 
.mark {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.load {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  
}
